body, html {
  padding:1%;
}

.cardContainer{
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  /* justify-content: center; Align items Center */
}

ul{
  list-style: none;
}

ul li{
  display: inline-block;
  margin-right: 2%;
}

form input{
  display: flex;
  padding: 5px;;
}